.profile__image {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 30px 0 0;
    object-fit: cover;
  }
  
  @media screen and (max-width: 920px) {
    .profile__image {
      margin: auto;
    }
  }