.form__btn-save {
    width: 358px;
    height: 50.15px;
    margin-top: 48px;
    margin-bottom: 36.51px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
  } 
  
.form__btn-save:hover {
    opacity: 0.8;
  }
  
  @media screen and (max-width: 585px) {
    .form__btn-save  {
      width: 238px;
      height: 46px;
      margin: 46px auto 25px;
    }
  }