.profile__btn-add {
    width: 150px;
    height: 50px;
    border: 2px solid  #ffffff;
    background-color: #000;
    background-image: url('../../../images/plus.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20% 50%;
    box-sizing: border-box;
    border-radius: 2px;
    margin: 33px 0 0 auto;
  }
    
  .profile__btn-add:hover {
    opacity: .8;
    cursor: pointer;
  }
  
  @media screen and (max-width: 920px) {
    .profile__btn-add {
      width: 282px;
      background-size: 17px 17px;
      align-self: center;
      margin-left: 0;
      margin-top: 36px;
    }
  }