.profile__btn-edit {
    display:inline;
    width: 24px;
    height: 24px;
    border: 1px solid  #ffffff;
    background-color: #000;
    background-image: url('../../../images/pencil.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
    margin-left: 18px;
  }
    
  .profile__btn-edit:hover {
    opacity: .8;
    cursor: pointer;
  }
  
  @media screen and (max-width: 920px) {
    .profile__btn-edit {
      height: 18px;
      width: 18px;
      margin-left: 10px;
      margin-top: -15px;
    }
  }