.elements__list {
    max-width: 882px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 920px) {
    .elements__list {
        justify-content: space-around;
    }
}
